
/*GothamPro*/
@font-face {
    font-family: 'HelveticaNeueCyr-Light';
    src: url('fonts/HelveticaNeueCyr-Light/HelveticaNeueCyr-Light.eot');
    src: local('☺'), url('fonts/HelveticaNeueCyr-Light/HelveticaNeueCyr-Light.woff') format('woff'),
    url('fonts/HelveticaNeueCyr-Light/HelveticaNeueCyr-Light.ttf') format('truetype');
}

/*Ubuntu*/
@font-face {
    font-family: 'UbuntuLight';
    src: url('fonts/Ubuntu-Light/Ubuntu-Light.eot');
    src: local('☺'), url('fonts/Ubuntu-Light/Ubuntu-Light.woff') format('woff'),
    url('fonts/Ubuntu-Light/Ubuntu-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'UbuntuRegular';
    src: url('fonts/Ubuntu-Regular/Ubuntu-Regular.eot');
    src: local('☺'), url('fonts/Ubuntu-Regular/Ubuntu-Regular.woff') format('woff'),
    url('fonts/Ubuntu-Regular/Ubuntu-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'UbuntuBold';
    src: url('fonts/Ubuntu-Bold/Ubuntu-Bold.eot');
    src: local('☺'), url('fonts/Ubuntu-Bold/Ubuntu-Bold.woff') format('woff'),
    url('fonts/Ubuntu-Bold/Ubuntu-Bold.ttf') format('truetype');
}
