/* colors */
/* colors */
/*fonts*/
/*Gotham*/
/*fonts*/
/*functions*/
.nonScroll {
  overflow: hidden;
  height: 100%;
}
.burger {
  display: none;
}
.hidden {
  opacity: 0;
}
.visible {
  opacity: 1;
}
.full {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.text-underline {
  text-decoration: underline;
}
.clear {
  clear: both;
  *zoom: 1;
  height: 0;
  visibility: hidden;
  display: block;
  content: "";
}
.vam {
  vertical-align: middle;
}
.vat {
  vertical-align: top;
}
.vab {
  vertical-align: bottom;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'Ubuntu-Light', sans-serif;
  color: #302e30;
  -webkit-font-smoothing: antialiased;
  padding: 0;
  margin: 0;
}
@media only screen and (min-width: 768px) and (max-width: 1023px), only screen and (max-width: 767px) {
  * {
    font-size: 14px;
  }
}
/* For modern browsers */
.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.row:before,
.row:after {
  content: "";
  display: table;
}
.clearfix:after,
.container:after,
.row:after {
  clear: both;
}
/* для IE6-7 */
.clearfix,
.container,
.row {
  zoom: 1;
  position: relative;
}
.fll {
  float: left;
}
.flr {
  float: right;
}
.fln {
  float: none;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.ttu {
  text-transform: uppercase;
}
.ttn {
  text-transform: none;
}
.h-nav {
  margin: 0;
  padding: 0;
  letter-spacing: normal;
}
.h-nav li {
  display: inline-block;
}
.bd100 {
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
}
.w100p {
  width: 100%;
}
.w50p {
  width: 50%;
}
.justify {
  text-align: justify;
  font-size: 0.01px;
}
.justify:after {
  content: '';
  display: inline-block;
  width: 100%;
}
.justify .left,
.justify .right {
  display: inline-block;
  line-height: normal;
}
.ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
/*------------------------Градиенты---------------------------*/
/*------------------------Градиенты---------------------------*/
/*----------------------Трансформация--------------------------*/
/*----------------------Трансформация--------------------------*/
.pos-center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.pos-centerY {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.pos-centerX {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}
/*functions*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 100;
}
/*animations*/
/*------------------------move bg---------------------------*/
/*animations*/
/*default*/
body {
  min-height: 100%;
  height: 100%;
  background: #efefef;
}
html {
  height: 100%;
}
b,
strong {
  font-weight: normal;
  color: inherit;
  font-size: inherit;
  line-height: inherit;
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
i.fa {
  color: inherit;
}
.btn {
  height: 37px;
  line-height: 33px;
  white-space: nowrap;
  font-size: 1.125rem;
  color: #fff;
  border-radius: 5px;
  padding: 0 30px;
}
.btn.blueBtn {
  background: #058ed8;
  border-bottom: 3px solid #0561bf;
  transition: all 0.5s;
}
.btn.blueBtn:hover {
  background: #0561bf;
  border-color: #0a40bf;
}
@media only screen and (min-width: 768px) and (max-width: 1023px), only screen and (max-width: 767px) {
  header img,
  #product img,
  footer img {
    width: 100%;
  }
}
.mainWrapper {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto 15px;
  background: #fff;
  overflow: hidden;
}
.menuBtn {
  display: none;
}
@media only screen and (max-width: 767px) {
  .menuBtn {
    display: block;
    position: absolute;
    right: 15px;
    top: 21px;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
  }
  .menuBtn.open {
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg);
  }
}
.menuBtn i {
  color: #dadada;
  font-size: 24px;
}
.phoneItem_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 35px;
}
@media only screen and (min-width: 768px) and (max-width: 1023px), only screen and (max-width: 767px) {
  .phoneItem_top {
    flex-direction: column;
  }
}
@media only screen and (max-width: 767px) {
  .phoneItem_top {
    padding: 20px 15px;
  }
}
.phoneItem_title {
  font-family: 'HelveticaNeueCyr-Light', sans-serif;
  font-size: 2rem;
  text-transform: uppercase;
}
@media only screen and (max-width: 767px) {
  .phoneItem_title {
    margin-bottom: 5px;
    font-size: 1.625rem;
    display: block;
    padding: 0 30px;
  }
}
.phoneItem .leftWrap {
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 767px) {
  .phoneItem .leftWrap {
    flex-wrap: wrap;
    flex-direction: column;
  }
}
.phoneItem ul {
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 767px) {
  .phoneItem ul {
    flex-direction: column;
    width: 100%;
    display: none;
  }
}
.phoneItem ul li {
  margin: 0 10px;
}
@media only screen and (max-width: 767px) {
  .phoneItem ul li {
    text-align: center;
  }
}
.phoneItem ul li a {
  display: block;
  padding: 5px 5px;
  font-family: 'UbuntuLight', sans-serif;
  font-size: 1.125rem;
  border-bottom: 2px solid transparent;
}
.phoneItem ul li a.selected {
  border-color: #0561bf;
}
.phoneItem ul li a.btn {
  padding: 0 30px;
}
/*sections*/
section {
  padding: 80px 0;
}
@media only screen and (max-width: 767px) {
  section {
    padding: 30px 15px;
  }
}
.pb0 {
  padding-bottom: 0;
}
.stickyHead {
  border-bottom: 1px solid #dadada;
}
.stickyHead.sticky {
  position: fixed;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  max-width: 1000px;
  width: 100%;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
  background: #fff;
  z-index: 20;
}
.section {
  position: relative;
}
.section.sectionSkew {
  background-color: #2d2d2d;
  background-image: url('../img/section-bg.jpg');
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-blend-mode: color-burn;
  padding: 0 70px;
  max-height: 490px;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .section.sectionSkew {
    padding: 0 25px;
    max-height: 375px;
  }
}
@media only screen and (max-width: 767px) {
  .section.sectionSkew {
    padding: 0;
    background-image: none;
    background-color: transparent;
    max-height: inherit;
  }
}
.section.sectionSkew .section-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
  z-index: 5;
}
@media only screen and (max-width: 767px) {
  .section.sectionSkew .section-container {
    flex-direction: column-reverse;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px), only screen and (max-width: 767px) {
  .sectionOne .section-blockImg img {
    max-width: 350px;
    margin: 0 auto;
  }
}
.sectionOne:after {
  content: '';
  display: block;
  background-image: url('../img/setion-one/line.png');
  width: 1003px;
  height: 223px;
  position: absolute;
  left: -6px;
  bottom: -290px;
  -webkit-transform: skewY(10deg);
  -moz-transform: skewY(10deg);
  -ms-transform: skewY(10deg);
  -o-transform: skewY(10deg);
  transform: skewY(10deg);
}
.sectionTwo {
  padding-top: 110px;
}
.sectionTwo .videoWrap {
  background-image: url('../img/section-two/phone.png');
  width: 720px;
  height: 468px;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
  position: relative;
  margin: 0 auto;
}
@media only screen and (max-width: 767px) {
  .sectionTwo .videoWrap {
    background-image: none;
    width: 100%;
    height: auto;
    margin-top: 30px;
  }
}
.sectionTwo .videoWrap .video {
  position: absolute;
  left: 100px;
  top: 50px;
  right: 103px;
  bottom: 125px;
}
@media only screen and (max-width: 767px) {
  .sectionTwo .videoWrap .video {
    position: relative;
    left: auto;
    top: auto;
    right: auto;
    bottom: auto;
    height: 240px;
  }
}
.sectionTwo .videoWrap iframe {
  width: 100%;
  height: 100%;
}
.sectionThree.sectionSkew {
  padding-right: 0;
}
@media only screen and (max-width: 767px) {
  .sectionThree.sectionSkew .section-container {
    flex-direction: column;
  }
}
.sectionThree.sectionSkew .section-blockImg {
  width: auto;
  position: absolute;
  right: 0;
  top: -15px;
  z-index: 1;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .sectionThree.sectionSkew .section-blockImg {
    max-width: 60%;
  }
}
@media only screen and (max-width: 767px) {
  .sectionThree.sectionSkew .section-blockImg {
    position: relative;
    right: auto;
    top: auto;
  }
}
.sectionThree:after {
  content: '';
  display: block;
  background-image: url('../img/section-three/line.png');
  width: 1001px;
  height: 223px;
  position: absolute;
  left: -6px;
  bottom: -222px;
  -webkit-transform: skewY(-10deg);
  -moz-transform: skewY(-10deg);
  -ms-transform: skewY(-10deg);
  -o-transform: skewY(-10deg);
  transform: skewY(-10deg);
}
.sectionThree .section-blockText {
  background: #4fa6be;
  position: relative;
  z-index: 2;
}
.sectionFour {
  margin-bottom: 30px;
}
.sectionFour .section-blockText {
  background: #4b6e9c;
}
@media only screen and (max-width: 767px) {
  .sectionFour .section-blockImg {
    margin-left: -15px;
  }
}
.sectionFour.sectionSkew {
  padding-left: 0;
}
.section-blockImg {
  width: 50%;
}
@media only screen and (max-width: 767px) {
  .section-blockImg {
    width: 65%;
    margin: 60px auto 0;
  }
}
@media only screen and (max-width: 480px) {
  .section-blockImg {
    width: 100%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px), only screen and (max-width: 767px) {
  .section-blockImg img {
    width: 100%;
  }
}
.section-blockText {
  padding: 55px 20px;
  max-width: 340px;
  margin: 25px 0 0 auto;
  width: 50%;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .section-blockText {
    max-width: 290px;
    padding: 40px 10px;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 767px) {
  .section-blockText {
    margin: 0 auto;
    width: 100%;
    max-width: inherit;
    padding: 40px 20px;
  }
}
.section-blockText h3 {
  margin-bottom: 15px;
}
@media only screen and (min-width: 768px) and (max-width: 1023px), only screen and (max-width: 767px) {
  .section-blockText h3 img {
    width: 100%;
  }
}
.section-blockText p {
  font-family: 'UbuntuRegular', sans-serif;
  color: #fff;
  margin-bottom: 20px;
}
@media only screen and (min-width: 768px) and (max-width: 1023px), only screen and (max-width: 767px) {
  .section-blockText p {
    margin-bottom: 10px;
  }
}
.section-blockText p strong {
  color: inherit;
  font-family: 'UbuntuBold', sans-serif;
}
.section-blockText .link {
  text-decoration: underline;
  font-family: 'UbuntuRegular', sans-serif;
  color: #fff;
  cursor: pointer;
}
.section-blockText .link:after {
  content: '>>';
  font-size: 12px;
}
.section-blockText ul li {
  font-family: 'UbuntuRegular', sans-serif;
  color: #fff;
  margin-bottom: 15px;
}
.section-blockText ul strong {
  font-family: 'UbuntuBold', sans-serif;
  display: block;
}
.section-blockText .slideWrap {
  position: relative;
}
.section-blockText .slide {
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
.section-blockText .slideOne {
  display: block;
  opacity: 1;
}
.section-blockText .slideTwo {
  opacity: 0;
  display: none;
}
.section.skewMin {
  -webkit-transform: skewY(-10deg);
  -moz-transform: skewY(-10deg);
  -ms-transform: skewY(-10deg);
  -o-transform: skewY(-10deg);
  transform: skewY(-10deg);
}
.section.skewMin .section-container {
  -webkit-transform: skewY(10deg);
  -moz-transform: skewY(10deg);
  -ms-transform: skewY(10deg);
  -o-transform: skewY(10deg);
  transform: skewY(10deg);
}
.section.skewMin .section-blockText {
  -webkit-transform: skewY(-10deg);
  -moz-transform: skewY(-10deg);
  -ms-transform: skewY(-10deg);
  -o-transform: skewY(-10deg);
  transform: skewY(-10deg);
}
.section.skewMin .section-blockText .content {
  -webkit-transform: skewY(10deg);
  -moz-transform: skewY(10deg);
  -ms-transform: skewY(10deg);
  -o-transform: skewY(10deg);
  transform: skewY(10deg);
}
.section.skewMax {
  -webkit-transform: skewY(10deg);
  -moz-transform: skewY(10deg);
  -ms-transform: skewY(10deg);
  -o-transform: skewY(10deg);
  transform: skewY(10deg);
}
.section.skewMax .section-container {
  -webkit-transform: skewY(-10deg);
  -moz-transform: skewY(-10deg);
  -ms-transform: skewY(-10deg);
  -o-transform: skewY(-10deg);
  transform: skewY(-10deg);
}
.section.skewMax .section-blockText {
  margin: 25px auto 0 0;
  -webkit-transform: skewY(10deg);
  -moz-transform: skewY(10deg);
  -ms-transform: skewY(10deg);
  -o-transform: skewY(10deg);
  transform: skewY(10deg);
}
.section.skewMax .section-blockText .content {
  -webkit-transform: skewY(-10deg);
  -moz-transform: skewY(-10deg);
  -ms-transform: skewY(-10deg);
  -o-transform: skewY(-10deg);
  transform: skewY(-10deg);
}
.textWrap {
  text-align: center;
  max-width: 50%;
  margin: 0 auto;
}
@media only screen and (max-width: 767px) {
  .textWrap {
    max-width: 100%;
  }
}
.textWrap h3 {
  font-family: 'UbuntuBold', sans-serif;
  color: #000;
  font-size: 1.75rem;
  margin-bottom: 20px;
}
.textWrap p {
  font-family: 'UbuntuRegular', sans-serif;
}
.colorTheme .section-blockImg img {
  display: none;
}
.colorTheme .section-blockImg img.active {
  display: block;
}
.colorTheme[data-color='pink'] .section-blockImg .pink {
  display: block;
}
.colorTheme[data-color='pink'] .section-blockText {
  background: rgba(203, 146, 167, 0.95);
}
.colorTheme[data-color='blue'] .section-blockImg .blue {
  display: block;
}
.colorTheme[data-color='blue'] .section-blockText {
  background: rgba(106, 178, 199, 0.95);
}
.colorTheme[data-color='green'] .section-blockImg .green {
  display: block;
}
.colorTheme[data-color='green'] .section-blockText {
  background: rgba(137, 195, 105, 0.95);
}
.colorTheme[data-color='red'] .section-blockImg .red {
  display: block;
}
.colorTheme[data-color='red'] .section-blockText {
  background: rgba(207, 85, 81, 0.95);
}
.colorTheme[data-color='yellow'] .section-blockImg .yellow {
  display: block;
}
.colorTheme[data-color='yellow'] .section-blockText {
  background: rgba(241, 239, 142, 0.95);
}
.colorTheme[data-color='black'] .section-blockImg .black {
  display: block;
}
.colorTheme[data-color='black'] .section-blockText {
  background: rgba(41, 41, 41, 0.95);
}
.colorTheme .colorSelectors li {
  display: inline-block;
}
.colorSelectors {
  margin-top: 25px;
  text-align: center;
  white-space: nowrap;
  width: 100%;
  position: relative;
  z-index: 25;
}
.colorSelectors li {
  display: inline-block !important;
  margin: 0 2px;
  width: 30px;
  height: 30px;
  border: 5px solid #f2f2f2;
  border-radius: 50%;
  background: transparent;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  cursor: pointer;
}
.colorSelectors li.pink {
  background: #cb92a7;
}
.colorSelectors li.blue {
  background: #6ab2c7;
}
.colorSelectors li.green {
  background: #89c069;
}
.colorSelectors li.red {
  background: #cf5551;
}
.colorSelectors li.yellow {
  background: #f1ef8e;
}
.colorSelectors li.black {
  background: #292929;
}
.colorSelectors li.active,
.colorSelectors li:hover {
  border-width: 0;
}
.gesturesWrap {
  text-align: center;
  max-width: 700px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 767px) {
  .gesturesWrap {
    flex-wrap: wrap;
  }
  .gesturesWrap li {
    width: 50%;
    margin-bottom: 10px;
    padding: 0 10px;
  }
}
@media only screen and (max-width: 480px) {
  .gesturesWrap li {
    width: 100%;
  }
}
.fancyWrap {
  display: none;
  max-width: 450px;
}
.fancyWrap .titlePopup {
  font-family: 'UbuntuBold', sans-serif;
  font-size: 1.25rem;
  text-transform: uppercase;
  padding: 10px 20px;
}
.fancyWrap .content {
  padding: 30px 20px;
}
