@import "mixins";

/*default*/
body{
  min-height: 100%;
  height: 100%;
  background: #efefef;
}
html {
  height: 100%;
}
b,strong{
  font-weight: normal;
  color: inherit;
  font-size: inherit;
  line-height: inherit;
}
ul,li{
  margin: 0;
  padding: 0;
  list-style: none;
}
a{
  text-decoration: none;
}
i.fa{
  color: inherit;
}
.btn {
  height: 37px;
  line-height: 33px;
  white-space: nowrap;
  .font-size(18);
  color: #fff;
  border-radius: 5px;
  padding: 0 30px;
  &.blueBtn {
    background: #058ed8;
    border-bottom: 3px solid #0561bf;
    transition: all 0.5s;
    &:hover {
      background: #0561bf;
      border-color: #0a40bf;
    }
  }
}
header, #product, footer {
  img {
    @media @tablet, @mobile {
      width: 100%;
    }
  }
}
.mainWrapper {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto 15px;
  background: #fff;
  overflow: hidden;
}

  .menuBtn {
    display: none;
    @media @mobile {
      display: block;
      position: absolute;
      right: 15px;
      top: 21px;
      .transition(all 0.4s);
      &.open {
        .transform(rotate(-180deg));
      }
    }
    i {
      color: @border;
      font-size: 24px;

    }
  }






.phoneItem {
  &_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 35px;
    @media @tablet, @mobile {
      flex-direction: column;
    }
    @media @mobile {
      padding: 20px 15px;
    }
  }
  &_title {
    font-family: @HL;
    .font-size(32);
    .ttu;
    @media @mobile {
      margin-bottom: 5px;
      .font-size(26);
      display: block;
      padding: 0 30px;
    }
  }
  .leftWrap {
    display: flex;
    align-items: center;
    @media @mobile {
      flex-wrap: wrap;
      flex-direction: column;
    }
  }
  ul {
    display: flex;
    align-items: center;
    @media @mobile {
      flex-direction: column;
      width: 100%;
      display: none;
    }
    li {
      margin: 0 10px;
      @media @mobile {
        text-align: center;
      }
      a {
        display: block;
        padding: 5px 5px;
        font-family: @UL;
        .font-size(18);
        border-bottom: 2px solid transparent;
        &.selected {
          border-color: #0561bf;
        }
        &.btn {
          padding: 0 30px;
        }
      }
    }
  }
}
/*sections*/
section {
  padding: 80px 0;
  @media @mobile {
    padding: 30px 15px;
  }
}
.pb0 {
  padding-bottom: 0;
}
.stickyHead {
  border-bottom: 1px solid @border;
  &.sticky {
    position: fixed;
    top: 0;
    left: 50%;
    .transform(translateX(-50%));
    max-width: 1000px;
    width: 100%;
    box-shadow: 0px 0px 5px rgba(0,0,0,.4);
    background: #fff;
    z-index: 20;
  }
}
.section {
  position: relative;
  &.sectionSkew{
    background-color: #2d2d2d;
    background-image: url('../img/section-bg.jpg');
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-blend-mode: color-burn;
    padding: 0 70px;
    max-height: 490px;
    @media @tablet {
      padding: 0 25px;
      max-height: 375px;
    }
    @media @mobile {
      padding: 0;
      background-image: none;
      background-color: transparent;
      max-height: inherit;
    }
    .section-container {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      position: relative;
      z-index: 5;
      @media @mobile {
        flex-direction: column-reverse;
      }
    }
  }
  &One {
    .section-blockImg {
      img {
        @media @tablet, @mobile {
          max-width: 350px;
          margin: 0 auto;
        }
      }
    }
    &:after {
      content: '';
      display: block;
      background-image: url('../img/setion-one/line.png');
      width: 1003px;
      height: 223px;
      position: absolute;
      left: -6px;
      bottom: -290px;
      .transform(skewY(10deg));
    }
  }
  &Two {
    padding-top: 110px;
    .videoWrap {
      background-image: url('../img/section-two/phone.png');
      width: 720px;
      height: 468px;
      background-repeat: no-repeat;
      -webkit-background-size: contain;
      background-size: contain;
      position: relative;
      margin: 0 auto;
      @media @mobile {
        background-image: none;
        width: 100%;
        height: auto;
        margin-top: 30px;
      }
      .video {
        position: absolute;
        left: 100px;
        top: 50px;
        right: 103px;
        bottom: 125px;
        @media @mobile {
          position: relative;
          left: auto;
          top: auto;
          right: auto;
          bottom: auto;
          height: 240px;
        }
      }
      iframe {
        width: 100%;
        height: 100%;
      }
    }
  }
  &Three {
    &.sectionSkew {
      //margin-bottom: 160px;
      padding-right: 0;
      .section-container {
        @media @mobile {
          flex-direction: column;
        }
      }
      .section-blockImg {
        width: auto;
        position: absolute;
        right: 0;
        top: -15px;
        z-index: 1;
        @media @tablet {
          max-width: 60%;
        }
        @media @mobile {
          position: relative;
          right: auto;
          top: auto;
        }
      }
    }
    &:after {
      content: '';
      display: block;
      background-image: url('../img/section-three/line.png');
      width: 1001px;
      height: 223px;
      position: absolute;
      left: -6px;
      bottom: -222px;
      .transform(skewY(-10deg));
    }
    .section-blockText {
      background: #4fa6be;
      position: relative;
      z-index: 2;

    }
  }
  &Four {
    margin-bottom: 30px;
    .section-blockText {
      background: #4b6e9c;
    }
    .section-blockImg {
      @media @mobile {
        margin-left: -15px;
      }
    }
    &.sectionSkew {
      padding-left: 0;
    }

  }
  &-blockImg {
    width: 50%;
    @media @mobile {
      width: 65%;
      margin: 60px auto 0;
    }
    @media @mobile-xs {
      width: 100%;
    }
    img {
      @media @tablet, @mobile {
        width: 100%;
      }
    }
  }
  &-blockText {
    padding: 55px 20px;
    max-width: 340px;
    margin: 25px 0 0 auto;
    width: 50%;
    @media @tablet {
      max-width: 290px;
      padding: 40px 10px;
      margin: 0 auto;
    }
    @media @mobile {
      margin: 0 auto;
      width: 100%;
      max-width: inherit;
      padding: 40px 20px;
    }
    h3 {
      margin-bottom: 15px;
      img {
        @media @tablet, @mobile {
          width: 100%;
        }
      }
    }
    p {
      font-family: @UR;
      color: #fff;
      margin-bottom: 20px;
      @media @tablet, @mobile {
        margin-bottom: 10px;
      }
      strong {
        color: inherit;
        font-family: @UB;
      }
    }
    .link {
      text-decoration: underline;
      font-family: @UR;
      color: #fff;
      cursor: pointer;
      &:after {
        content: '>>';
        font-size: 12px;
      }
    }
    ul {
      li {
        font-family: @UR;
        color: #fff;
        margin-bottom: 15px;
      }
      strong {
        font-family: @UB;
        display: block;
      }
    }
    .slideWrap {
      position: relative;
    }
    .slide {
      .transition(all 0.4s);
    }
    .slideOne {
      display: block;
      opacity: 1;
    }
    .slideTwo {
      opacity: 0;
      display: none;
    }
  }
  &.skewMin {
    .transform(skewY(-10deg));
    .section-container {
      .transform(skewY(10deg));
    }
    .section-blockText {
      .transform(skewY(-10deg));
      .content {
        .transform(skewY(10deg));
      }
    }
  }
  &.skewMax {
    .transform(skewY(10deg));
    .section-container {
      .transform(skewY(-10deg));
    }
    .section-blockText {
      margin: 25px auto 0 0;
      .transform(skewY(10deg));
      .content {
        .transform(skewY(-10deg));
      }
    }
  }
}
.textWrap {
  text-align: center;
  max-width: 50%;
  margin: 0 auto;
  @media @mobile {
    max-width: 100%;
  }
  h3 {
    font-family: @UB;
    color: #000;
    .font-size(28);
    margin-bottom: 20px;
  }
  p {
    font-family: @UR;
  }
}

.colorTheme {
  .section-blockImg {
    img {
      display: none;
      &.active {
        display: block;
      }
    }
  }
  &[data-color='pink'] {
    .section{
      &-blockImg {
        .pink {
          display: block;
        }
      }
      &-blockText {
        background: @pinkOp;
      }
    }
  }
  &[data-color='blue']  {
    .section{
      &-blockImg {
        .blue {
          display: block;
        }
      }
      &-blockText {
        background: @blueOp;
      }
    }
  }
  &[data-color='green']  {
    .section{
      &-blockImg {
        .green {
          display: block;
        }
      }
      &-blockText {
        background: @greenOp;
      }
    }
  }
  &[data-color='red']  {
    .section{
      &-blockImg {
        .red {
          display: block;
        }
      }
      &-blockText {
        background: @redOp;
      }
    }
  }
  &[data-color='yellow']  {
    .section{
      &-blockImg {
        .yellow {
          display: block;
        }
      }
      &-blockText {
        background: @yellowOp;
      }
    }
  }
  &[data-color='black']  {
    .section{
      &-blockImg {
        .black {
          display: block;
        }
      }
      &-blockText {
        background: @blackOp;
      }
    }
  }
  .colorSelectors {
    li {
      display: inline-block;
    }
  }
}
.colorSelectors {
  margin-top: 25px;
  text-align: center;
  white-space: nowrap;
  width: 100%;
  position: relative;
  z-index: 25;
  li {
    display: inline-block !important;
    margin: 0 2px;
    .square(30px);
    border: 5px solid @lightGray;
    border-radius:50%;
    background: transparent;
    .transition(all 0.4s);
    cursor: pointer;
    &.pink {
      background: @pink;
    }
    &.blue {
      background: @blue;
    }
    &.green {
      background: @green;
    }
    &.red {
      background: @red;
    }
    &.yellow {
      background: @yellow;
    }
    &.black {
      background: @black;
    }
    &.active, &:hover {
      border-width: 0;
    }

  }
}
.gesturesWrap {
  text-align: center;
  max-width: 700px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  @media @mobile {
    flex-wrap: wrap;
    li {
      width: 50%;
      margin-bottom: 10px;
      padding: 0 10px;
    }
  }
  @media @mobile-xs {
    li {
      width: 100%;
    }
  }
}
.fancyWrap {
  display: none;
  max-width: 450px;
    .titlePopup {
      font-family: @UB;
      .font-size(20);
      .ttu;
      padding: 10px 20px;
    }
  .content {
    padding: 30px 20px;
  }
}
